 /* Working version on cysyphus.github.io  */
* {
    box-sizing: border-box;

  }
body {
  font-family: "Lato", sans-serif; 
}

  /* Style the header  */
  .header {
    grid-area: header;
    background-color: #3a3c3d;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 160%;
    border-bottom: 5px solid lightgray;
    border-bottom-style: solid;
    color: #fff;
  
  }

  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left left left right right right' 
      'footer footer footer footer footer footer';
    
      gap: 10px;
      padding: 10px;
      grid-column-gap: 10px;
  } 
  
  .column_1,
  .column_2, 
  {
    padding: 10px;

  }
  
  /* Style the left column */
  .column_1 {
    grid-area: right;
    text-align: left;
    padding: 15px;
    margin-bottom: 5px;
    box-shadow: 5px 2px 2px lightgray;
  
    
  }
  
  /* Style the middle column */
  .column_2 {
    grid-area: left;
    text-align: left;
    padding: 15px;
    margin-bottom: 5px;
    box-shadow: 5px 2px 2px lightgray;
  
    
  }
  
  /* Style the right column 
  .right {
    grid-area: right;
  }*/
  
  
  
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'column_1 column_1 column_1 column_1 column_1 column_1'
        'column_2 column_2 column_2 column_2 column_2 column_2'
        'footer footer footer footer footer footer';
    }
  
  }

* {
  box-sizing: border-box;

}    

/* Style the header with a background color and some padding */
.toplogo {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    font-weight: 700;
  
  }
  
  /* Style the header links */
  .toplogo a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    border: 2px solid #8d8f91;
    margin: 4px 2px 0px 4px; /*controls the "space" btw the buttons*/

   
  }
  
  
  /* Change the background color on mouse-over */
  .toplogo a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .toplogo a.active {
    background-color: orangered;
    color: white;
  }
  
  /* Float the link section to the right */
  .toplogo-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .toplogo a {
      float: none;
      display: block;
      text-align: left;
    }
    .toplogo-right {
      float: none;
    }
}
/*new, in focus, resources buttons */
.centerbuttons {
   
   display: flex; 
   align-items: center; 
   justify-content: center; 
   font-weight: 700;
}


.btn {
  border-radius: 7px;
  text-align: center;
  background-color: whitesmoke;
  border: 3px solid #8d8f91;
  color: black;
  padding:  10px 32px; /*controls the "size" of the button*/
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  margin: 10px 2px 15px 10px; /*controls the "space" btw the buttons*/
  cursor: pointer;
  width: 150px; /*keeps the "boxes" the same size regardless of text*/
  }

  /* Change the background color on mouse-over */
  .centerbuttons a:hover {
    background-color: rgb(211, 204, 191);
    box-shadow: 3px 2px;
    color: rgb(90, 55, 8);
}
    
 /*next set of buttons ***new, in-focus, resources*** styling 
  input[type=url], input[type=url], input[type=url] {
    background-color: whitesmoke;
    border: 1px;
    color: black;
    padding:  16px 32px;
    text-decoration: none;
    margin: 10px 2px 15px 10px;
    cursor: pointer;
    width: 150px;
  }*/
  /*new section -- search bar ! */

    /* Style the search box form field */
     
   
    
          /* Style the search box form field */
    .container {
      border-radius: 5px;
      display: flex; 
      align-items: center; 
      justify-content: center; 
      
      }
      
      form {
      border-radius: 5px;
      width: 50%;
      height: 55px;
      display: flex;
      border: 1px solid #8d8f91;
      
      }
      
      form input {
      flex: 1;
      outline: 2;
      border-radius: 5px;
      padding: 5px;
      border: 3px solid #8d8f91;
      }
      input:focus {
        background-color: rgb(238, 230, 227);
    }
    
    select:focus {
        background-color: lightgray;
        
    }
      
      form button {
      background: tomato; 
      padding: 7px 20px;
      border-radius: 0px 5px 5px 0px;
      outline: none;
      color: #fff;
      letter-spacing: 1px;
      font-size: 15px;
      cursor: pointer;
      border: 3px solid #8d8f91;
     
      }
    

/* Style the search field */


.boxcontainer {
    width: 10;
    height: auto;
    background-color: #3a3c3d;

/*flexbox styling */
  
display: flex;
flex-direction: row;
justify-content: space-around;
flex-flow: wrap;
}

.box {
width: 20%;
height: 200px; 
background:white; 
margin: 20px; 
padding: 10px;
box-sizing: border-box; 
font-size: 18px;
text-align: center;
color: black;
border-radius: 5px;
border: 3px solid #8d8f91;
}
/*
.nobulletlist {
    list-style-type: none; 
   }
  */ 
.li { 
  padding: 5px 0px; 
}




/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    
  }